.body {
  position: relative;
}

.grid {
  z-index: 0;
  position: absolute;
  width: 210mm;
  height: 297mm;
  display: grid;
  grid-template-columns: 0.9fr 1.1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "bgs1 . . . ."
    "bgs1 . . . ."
    "bgs1 . . . ."
    "bgs2 . . . ."
    "bgs2 . . . ."
    "bgs2 . . . ."
    "bgs2 . . . ."
    "bgs2 . . . ."
    "bgs2 . . . ."
    "bgs2 . . . .";
  background-color: #241d19;
}

.bgs1 {
  grid-area: bgs1;
  background-color: #dbcaba;
}

.bgs2 {
  grid-area: bgs2;
  background-color: #f1e7de;
}

.inner-grid {
  z-index: 1;
  position: absolute;
  width: 210mm;
  height: 297mm;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "pd pd pd ns ns ns ns"
    "pd pd pd dt dt dt dt"
    "pd pd pd dt dt dt dt"
    "pd pd pd dt dt dt dt"
    "pd pd pd dt dt dt dt";
}

.pd {
  grid-area: pd;
  padding-left: 5%;
  padding-top: 60%;
}

.box {
  display: flex;
  justify-content: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #efeff0;
  height: 100%;
  width: 100%;
}

.ns {
  grid-area: ns;
}
.dt {
  grid-area: dt;
}

.box2 {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: white;
}
