@import url("https://fonts.cdnfonts.com/css/now");
@import url("https://fonts.cdnfonts.com/css/tt-drugs-trial");

.body {
  display: flex;
  justify-content: center;
  position: relative;
}

.grid {
  z-index: 0;
  position: absolute;
  width: 80vw;
  aspect-ratio: 1/1.41428;

  display: grid;
  grid-template-columns: 0.9fr 1.1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "bgs1 . . . ."
    "bgs1 . . . ."
    "bgs1 . . . ."
    "bgs2 . . . ."
    "bgs2 . . . ."
    "bgs2 . . . ."
    "bgs2 . . . ."
    "bgs2 . . . ."
    "bgs2 . . . ."
    "bgs2 . . . .";
  background-color: #241d19;
}

.bgs1 {
  grid-area: bgs1;
  background-color: #dbcaba;
}

.bgs2 {
  grid-area: bgs2;
  background-color: #f1e7de;
}

.inner-grid {
  border: solid 0.1vw black;
  z-index: 1;
  position: absolute;
  width: 80vw;
  aspect-ratio: 1/1.41428;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "pd pd pd ns ns ns ns"
    "pd pd pd dt dt dt dt"
    "pd pd pd dt dt dt dt"
    "pd pd pd dt dt dt dt"
    "pd pd pd dt dt dt dt";
}

.pd {
  grid-area: pd;
  padding-left: 5%;
  padding-top: 60%;
}

.box {
  display: flex;
  position: relative;
  justify-content: center;
  border-top-left-radius: 3vh;
  border-top-right-radius: 3vh;
  background-color: #efeff0;
  height: 100%;
  width: 100%;
}

.img-box {
  width: 75%;
  height: auto;
  position: absolute;
  margin-top: -35%;
}

.profile-img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.box-wrapper {
  display: block;
  padding-left: 7%;
  flex-direction: column;
  align-self: self-start;
  margin-top: 50%;
  width: auto;
  height: auto;
}

.item {
  margin-left: 10%;
  margin-top: 5%;
}

.box-wrapper > div {
  font-size: 1.5vw;
  font-family: "Now", sans-serif;
}

.box-wrapper > ul > li {
  font-size: 1.5vw;
  margin-left: 8%;
  margin-top: 5%;
  font-family: "Now", sans-serif;
}

.icons-head {
  height: 100%;
  width: 10%;
}

.icons {
  margin-right: 4%;
  height: 100%;
  width: 7%;
}

.ns {
  grid-area: ns;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "TT Drugs Trial", sans-serif;
  color: #FFFDFD;
}

.box-wrapper > div > b {
  font-family: "TT Drugs Trial", sans-serif;
}

.ns > div {
  align-self: start;
  padding-left: 5%;
}

.header-bns{
  font-size: 4.5vw;
  
}

.header-sns {
  font-size: 2.5vw;
}

.dt {
  grid-area: dt;
}

.dt-line {
  margin-top: 10%;
}

.box2 > p {
  margin: 0;
  padding: 0;
  font-family: "Now", sans-serif;
  font-size: 1.5vw;
}

.box2 > ul > li {
  margin-bottom: 5%;
  font-size: 1.5vw;
}

.box2 > ul {
  margin-bottom: auto;
}

.header {
  border-radius: 5rem;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: "TT Drugs Trial", sans-serif;
  background-color: #f1e7de;
  display: inline-block;
  padding-left: 5%;
  padding-right: 10%;
  margin-bottom: 2%;
}

.box2 {
  display: block;
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 5%;
}

@media screen and (max-width: 576px) {
  .box2 > p {
    font-size: 1.4vw;
  }

  .box2 > ul > li {
    font-size: 1.35vw;
  }

  .header {
    font-size: 1.45vw;
  }

  .box-wrapper > ul > li {
    font-size: 1.45vw;
  }

  .dt-line {
    margin-top: 10%;
  }
}